body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    height: 80px;
    background: #f6ec66;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.header__div {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.header p {
    padding: 10px 40px;
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.header__image {
    margin-top: 10px;
    height: 60px;
    /* overflow: hidden; */
}

.nav {
    margin: 10px;
    height: 60px;
    border-radius: 10px;
    /* background: rgb(236, 236, 109); */
}

.nav__ul {
    padding: 0;
    height: 100%;
    margin: 0;
    display: flex;  /* Para activar Flexbox */
    flex-direction: row;  /* Para que la lista aparezca en fila */
    justify-content: space-around;  /* Para un espaciado igual a todos */
    align-items: center;  /* Alinea los items al centro del espacio */
    list-style: none;  /* Saca el punto del item de lista */
}

.nav__ul a {
    padding: 6px 24px;
    border-radius: 12px;
    text-decoration: none;  /* Saca a linea debajo del item de lista */
    color: #f65454;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav__ul a:hover {
    background: #fadc6d;
    /* text-decoration: underline;  Coloca a linea debajo del item de lista al hacer hover */
}

.hero__image {
    width: 90vw;
    /* padding: 6px 40px;
    height: 15%; */
}

.section {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section__contacto{
    margin: 0px;
    padding: 16px 8px;
}

.section__article--inicio {
    border: 2px solid red;
    width: 46%;
    /* height: 600px; */
    /* border-radius: 20px; */
    /* padding: 20px; */
    background: #ffffff;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: ; */
}

.section__article--figure {
    border: 2px solid red;
    margin: 0%;
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

.section__article--img {
    margin: 0%;
    /* border: 2px solid red; */
    width: 800px;
    height: 400px;
}

.section__article--inicio p {
    margin: 0%;
    padding: 10px 16px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.section__image--taller {
    /* margin: 1% 10%;
    padding: 6px 40px; */
    height: 20%;
}

.section__contacto--article {
    padding: 30px 50px;
    width: 84%;
    height: 800px;
    border-radius: 20px;
    margin: 20px;
    background: rgb(233, 233, 150);
}

.section__contacto--article p {
    margin: 0px;
    padding: 16px 8px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.section__article {
    width: 90%;
    height: 400px;
    border-radius: 20px;
    margin: 20px;
    background: rgb(233, 233, 150);
}

.section__article p {
    padding: 40px 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact__div {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #f65454;
}

.footer {
    width: 100%;
    /* height: 220px; */
    background: #f6ec66;
    color: #f65454;
    font-size: 18px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__div {
    width: 90%;
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
}

.footer__article {
    margin: 0px;
    padding: 30px 50px;
    box-sizing: border-box;
}

.footer__article--figure {
    margin: 10px 0px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__article--image {
    /* padding: 6px; */
    height: 44px;
}

.footer__article--image:hover {
    /* padding: 2px; */
    height: 48px;
}

.footer__logo {
    padding: auto;
}

.footer__logo--truck {
    margin: 40px 0;
    height: 70px;
    /* display: flex;
    justify-content: center; */
}

.footer p {
    margin: 0px;
    padding: 14px 12px;
    color: #f65454;
    text-align: center;
    line-height: 36px;
    /* font-size: 20px;
    font-family: Arial, Helvetica, sans-serif; */
}

.footer__article--section {
    /* padding: 12px 0px; */
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
}

.design {
    width: 100%;
    /* margin: 0%;
    padding: 4px; */
    background: #f65454;
    display: flex;
    justify-content: center;
}

.design__container {
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24Bpx;
    text-align: center;
    color: #f6ec66;
}